* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Chivo', sans-serif;
    background-color: #121725;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    max-width: 1440px;
    width: 100%;
    position: relative;
    padding-left: 165px;
    margin-bottom: -28px;
    z-index: 10;
}

main {
    position: relative;
    max-width: 1440px;
    width: 100%;
    background-image: url(pod-request-access-landing-page/starter-code/assets/desktop/image-host.jpg);
    background-repeat: no-repeat;
    max-height: 640px;
    height: 100%;
    background-position: right;
    background-size: auto;
    z-index: 0;
}

